.fondo{
    width: 100vw;
    height: 100vh;
    background-color: rgb(223, 250, 215);
}
.primero {
    color: rgb(255, 248, 248);
    background-color: rgb(70, 62, 62);
    font-size: 2rem;
    text-align: center;
}
.segundo {
    color: rgb(51, 43, 43);
    font-size: 2rem;
    text-align: left;
    text-decoration: solid underline black 2px;
    border-bottom: 1px solid gray
    
;
}
.tercero {
    color: rgb(102, 2, 2);
    font-size: 1rem;
    text-align: justify;
    text-decoration: underline;
}
.cuarto {
    color: rgb(102, 2, 2);
    background-color: blanchedalmond;
    font-size: 1rem;
    text-align: justify;
    width: 30rem;
    height: 2rem;
   
}
.box1{
    background-color: bisque;
    width: 50rem;
    height: 3rem;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    padding: auto;
    box-shadow: 5px 4px 10px 1px black;
    border-radius: 0.4rem;
}
.box2{
    background-color: bisque;
    width: 50rem;
    height: 3rem;
    text-align: center;
    border: 2px double black;
    margin: 10px;
    padding: auto;
    box-shadow: 5px 4px 10px 1px black;
    border-radius: 0.4rem;
}
.relativa{
    background-color: rgb(190, 230, 216);
    width: 50rem;
    height: 3rem;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    padding: auto;
    box-shadow: 5px 4px 10px 1px black;
    border-radius: 0.4rem;
    position: relative;

}
.absoluta{
    background-color: aquamarine;
    position: absolute;
    top: 70%;
    left: 60%;


}
@media screen and (min-widht: 768px) {
    .fondo{
        background-color: brown;
    }
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    
}
.grid-container div{
    background-color: rgb(170, 170, 235);
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    padding: auto;
    box-shadow: 5px 4px 10px 1px black;
    border-radius: 0.4rem;
}
.animacion{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}
.animacion:hover{
    cursor: pointer;
    background-color: blueviolet;
}

.mover{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 140);
    animation: mover 4s infinite;
}
@keyframes mover{
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
    1000% {
        transform: translateX(0px);
    }
}